body{

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-top:120px;

}


.top-header{

    height:30px;
    background-color: #000;

}

.top-header-texts{

    float:right;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 40px 5px;
    color:#fff;

}

.top-header-texts a{
    color: #fff;
    margin:0 10px;
}

.bg-light {
    background-color: #fff !important;
}

.navbar-brand{

        font-size: 40px;
        font-weight: bold;

}


.navbar{

    padding-left:60px;
    padding-right:40px;

}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    margin-left:10px;
}

.navbar-section{
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 5000;
}

.form-inline{
    margin-left:10px;
}